.tmb-video-panel .tmb-video-control,
.tmb-video-panel .components-base-control,
.tmb-video-panel .components-notice {
	margin-bottom: 16px;
}

.tmb-video-poster__buttons {
	display: flex;
	gap: 8px;
	margin-top: 8px;
}
